/**/
:root {
    --entry-input-bkg:rgba(255, 255, 255, .5);
}

html {
    min-height: 100%;
}
body {
    height: 100%;
    width: auto;
    padding: 0;
    margin: 0;
    background: linear-gradient(to top left, rgb(231 231 231), rgb(245 245 245));
    /*background-color: rgb(245 245 245); whitesmoke*/
    font-family: 'Inconsolata', monospace, sans-serif;
    color: rgb(30 30 30);
    font-size: 1.4em;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100%;
    display:flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 2em;
    border-top: 2px solid rgb(30 30 30);
    border-bottom: 2px solid rgb(30 30 30);
    margin: 3% 0px 3% 0px;
    padding: .5% 5%;
}

#add-book {
    font-size: 0.85em;
    font-weight: 600;
    padding: 7px 21px;
    border: 2px solid rgb(30 30 30);
}



form h2 {
    margin: 0px 0px 10px 0px;
    align-self: center;
    font-weight: 800;
}

.form-container {
    display: none;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(47, 49, 49, .85);
    z-index: 1;
    position: relative;
}

.form-container.open  {
    display: block;
    position: absolute;
    animation: fadein 0.3s;
}

@keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

.book-entry {
    width: 300px;
    height: auto;
    padding: 15px 20px 15px 15px; /*extra on right to compensate for input*/
    margin: 100px auto auto auto;
    /*border: 1px solid white;*/
    /*background: linear-gradient(to bottom right, rgba(86, 140, 172, .5), rgba(54, 46, 99, .5));*/
    background: rgba(241, 241, 241, .9);
    border-radius: 10px;
    display: flex; 
    flex-direction: column;
}


label {
   font-weight: 600;
}

input {
    margin: 2px 0px 10px 0px;
    padding: 1px 0px 1px 5px;
    width: 100%;
    /*background: rgba(255, 255, 255, 0.2);*/
    background: var(--entry-input-bkg);
    border-radius: 2px;
    border: none;
    /*
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: border 1px solid black; */
}

#finished {
    width: 30px;
    height: 16px;
    cursor: pointer;
}

.books-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 30px 5px 0px;
    margin: 3%;
}

.book-card {
    margin: 0px 0px 30px 35px;
    padding: 10px;
    width: 200px;
    height: auto;
    background: rgb(255 255 255 / 0.7);
    border-radius: 6px;
    box-shadow: 4px 4px 9px -5px rgba(132, 132, 132, 0.50);

    display: flex;
    flex-direction: column;
}

.book-card.read {
    border: 3px solid green;
}

.book-card:hover {
    transition: .1s;
    box-shadow: 10px 10px 20px -10px rgba(132, 132, 132, 0.80);
    transform: translate(-1px, -3px);
}
.book-header {
    font-size: 0.7em;
    font-weight: 600;
    margin: 0px;
    padding: 0px;
}

p {
    font-size: 0.7em;
    font-weight: 400;
    padding: 0px;
    margin: 0px 0px 7px 0px;
}
/* ------------------------------------------- */
/* -----------------BUTTONS------------------ */
button {
    cursor: pointer;
    border: none;
    border-radius: 3px;
    background-color: transparent;
}

button:hover {
    transform: translateY(-2.5px);
    transition: .2s;
    background-color: rgba(255, 255, 255, .8);
    box-shadow: 2px 6px 9px -5px rgba(132, 132, 132, 0.80);
}

#submit-button {
    margin: 35px 28% 0px 28%;
    padding: 6px 5px;
    border: 2px solid rgb(50, 50, 50);
    font-size: 0.85em;
    font-weight: 600;
}

#cancel-form {
    border: 2px solid;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: rgba(223, 223, 223, .9);

    position: absolute;
    left: 50%;
    margin: 380px 0px 0px -20px;
}

#cancel-form:hover {
    background-color: rgba(255, 0, 0, .45);
}

.read-status {
    font-size: .7em;
    background-color: rgba(176, 168, 173, .8);;
    align-self: flex-end;
    width: 40%;
    padding: 3px 0px;
}

.read-status.read {
    background-color: rgb(0 128 0);
    color: #fff;
}
.delete {
    color: rgba(160, 0, 0);
    border: 2px solid transparent;
    border-radius: 50%;
    font-size: 0.85em;
    position: absolute;
    align-self: flex-end;
}

.delete:hover {
    border: 2px solid rgba(160, 0, 0);
}

.delete2 {
    background-color: rgba(160, 0, 0, .8);
    color: rgba(255, 255, 255, .9);
    border: none;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 0.6em;
    position: absolute;
    align-self: flex-end;
}

/* ------------------------------------------- */
/* -----------------CHECKBOX------------------ */

/* The container */
.cb-container {
    display: block;
    position: relative;
    padding-left: 12%;
    cursor: pointer;
    user-select: none;
    margin-top: 6px;
  }
/* Hide the browser's default checkbox */
.cb-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    right: 0;
    height: 25px;
    width: 25px;
    background-color: var(--entry-input-bkg);
    margin-right: 12%;
  }
  
  /* On mouse-over, add a grey background color */
  .cb-container:hover input ~ .checkmark {
    background-color: rgba(255, 255, 255, .8);
  }
  
  /* When the checkbox is checked, add a blue background */
  .cb-container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .cb-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .cb-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

/* -----------------CHECKBOX------------------ */
/* ------------------------------------------- */